<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Team Member Card Component</title>
  <!-- Global -->
  <link rel="stylesheet" href="../css/global/font-face.css">
  <link rel="stylesheet" href="../css/global/root.css">
  <link rel="stylesheet" href="../css/global/base.css">
  <link rel="stylesheet" href="../css/global/utilities.css">
  <!-- Atoms -->
  <link rel="stylesheet" href="../css/atoms/button.css">
  <!-- Component -->
  <link rel="stylesheet" href="../css/components/team-member.css">
</head>
<body>

<div class="container">
  <div style="max-width: 155px;">
    <!-- Component start -->
    <article class="team-member">
      <div class="team-member__info">
        <h3 class="team-member__name">Leah Salomon</h3>
        <p class="team-member__position">UI Designer</p>
        <ul aria-label="Leah Salomon's social links" class="team-member__socials">
          <li class="team-member__socials-item">
            <a href="#" class="team-member__social-link">
              <img src="../images/icons/fa-twitter.svg" alt="twitter logo icon" width="17" height="14" decoding="async" loading="lazy">
            </a>
          </li>
          <li class="team-member__socials-item">
            <a href="#" class="team-member__social-link">
              <img src="../images/icons/fa-twitter.svg" alt="twitter logo icon" width="17" height="14" decoding="async" loading="lazy">
            </a>
          </li>
          <li class="team-member__socials-item">
            <a href="#" class="team-member__social-link">
              <img src="../images/icons/fa-twitter.svg" alt="twitter logo icon" width="17" height="14" decoding="async" loading="lazy">
            </a>
          </li>
        </ul>
      </div>
      <figure class="team-member__image-wrapper">
        <img class="team-member__image" src="../images/member.jpeg" alt="dummy member profile picture" width="100" height="100" decoding="async" loading="lazy">
      </figure>
    </article>
    <!-- Component end -->
  </div>
</div>

</body>
</html>