*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  background-color: var(--c-primary);
  margin: 0;

  /* This applies as the default text styles of the entire site */
  color: var(--c-white);
  font-weight: 500;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

@media all and (min-width: 992px) {
  body {
    font-size: 18px;
  }
}