/* Container */
.container {
  max-width: var(--content-width-base);
  padding-inline: 16px;
  margin-inline: auto;
}

.container.container--small {
  max-width: var(--content-width-small);
}

.container.container--medium {
  max-width: var(--content-width-medium);
}

.container > .container__inner {
  margin: 0;
  max-width: 764px;
}

/* Grid System */
.row {
  --columns: 1;
  margin-inline: -16px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  row-gap: 20px;
}

.row > .col {
  padding-inline: 16px;
  flex: 1 1 calc(100% / var(--columns));
  max-width: calc(100% / var(--columns));
}

.row > .col > * {
  height: 100%;
}

  /*
  * I noticed I have been declaring this group of styles on both the hero block and cta block,
  * so I turned it into a utility instead so that I can declare it only once.
  */
.has-bg-image {
  overflow: hidden;
  background-color: var(--c-primary);
  position: relative;
  isolation: isolate;
}

.bg-image {
  opacity: .5;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  inset: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
}

/* Generic section title */
.section-title {
  font-size: 28px;
  line-height: 1.1;
  font-weight: 700;
}

@media all and (min-width: 992px) {
  .section-title {
    font-size: 42px;
  }
}

/* Screen-reader text */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}