.container {
  max-width: var(--content-width-base);
  padding-inline: 16px;
  margin-inline: auto;
}

.container.container--small {
  max-width: var(--content-width-small);
}

.container.container--medium {
  max-width: var(--content-width-medium);
}