.card {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
}

.card__image-wrapper {
  overflow: hidden;
  position: relative;
  padding-top: 60%;
  border-radius: 10px;
}

.card__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}