.hero {
  text-align: center;
  padding: 50px 0 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: .375em; /* Used `em` for margin bottom here so that it's relative the the hero title's font-size */
  font-weight: 700;
}

.hero__subtitle {
  display: block;
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: .8em;
}

.hero__body {
  font-size: 17px;
}

.hero__actions {
  margin-top: 50px;
}

@media all and (min-width: 992px) {
  .hero {
    padding: 200px 0 163px;
    justify-content: flex-end;
  }

  .hero__title {
    font-size: 72px;
  }

  .hero__subtitle {
    font-size: 24px;
  }

  .hero__body {
    font-size: 22px;
  }

  .hero__actions {
    margin-top: 85px;
  }
}